node_modules
.env
package-lock.json

# Hardhat files
/cache
/artifacts
/out
/lib
/scripts
/script
/.github

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
